
    
    

@media screen and (max-width: 39.9375em) {
    .comparing-box-mobile{
        padding-top: 70px;
        background-color: $dark-grey;
        width: 100%;
    }

     

    .content-showing-style{
        background-color: white;
    }

    .comparison-content{
        padding: 60px 0;
    }

    .mobile-list-top{
        padding: 0;
        margin: 0;
        width: 20%;
        float: left;
        text-align: center;
    }
    .mobile-list-bottom{
        padding: 0;
        margin: 0;
        width: 25%;
        float: left;
        text-align: center;
    }
	.topic-title-conservative{
        padding: 10px 0;
        background-color: #0331cf;
        width: 100%;
        color: white;
    }

    .party-top-comp{
        border-bottom: solid 2px transparent;
    }

    .topic-title-green{
        padding: 10px 0;
        background-color: #3c9b35;
        width: 100%;
        color: white;
    }

    .topic-title-democratic{
        padding: 10px 0;
        background-color: #f6821f;
        width: 100%;
        color: white;
    }

    .topic-title-liberal{
        padding: 10px 0;
        background-color: #ff1a24;
        width: 100%;
        color: white;
    }
    

}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .comparing-box-mobile{
        padding-top: 70px;
        background-color: $dark-grey;
        width: 100%;
    }

    .content-showing-style{
        background-color: white;
    }

    .comparison-content{
        padding: 60px 0;
    }
    
    .mobile-list-top{
        padding: 0;
        margin: 0;
        width: 20%;
        float: left;
        text-align: center;
    }
    .mobile-list-bottom{
        padding: 0;
        margin: 0;
        width: 25%;
        float: left;
        text-align: center;
    }

	.topic-title-conservative{
        padding: 10px 0;
        background-color: #0331cf;
        width: 100%;
        color: white;
    }

    .party-top-comp{
        border-bottom: solid 2px transparent;
    }

    .topic-title-green{
        padding: 10px 0;
        background-color: #3c9b35;
        width: 100%;
        color: white;
    }

    .topic-title-democratic{
        padding: 10px 0;
        background-color: #f6821f;
        width: 100%;
        color: white;
    }

    .topic-title-liberal{
        padding: 10px 0;
        background-color: #ff1a24;
        width: 100%;
        color: white;
    }

}

@media screen and (min-width: 64em) {


    .content-showing-style{
        background-color: white;
    }

    .comparison-content{
        padding: 60px 0;
    }


    .topic-title-conservative{
        padding: 10px 0;
        background-color: #0331cf;
        width: 100%;
        color: white;
    }

    .party-top-comp{
        border-bottom: solid 2px transparent;
    }

    .topic-title-green{
        padding: 10px 0;
        background-color: #3c9b35;
        width: 100%;
        color: white;
    }

    .topic-title-democratic{
        padding: 10px 0;
        background-color: #f6821f;
        width: 100%;
        color: white;
    }

    .topic-title-liberal{
        padding: 10px 0;
        background-color: #ff1a24;
        width: 100%;
        color: white;
    }


    .col{
        display: block;
        text-align: center;
        float: left;
    }

    .clear-fix:after {
      content: "";
      display: table;
      clear: both;
    }
}
