@media screen and (max-width: 39.9375em) {
    /* styles for small only */
    .conservative-party{
        overflow:hidden;

        .conservative-logo{
            background:white;
            height:200px;

            .logo-conservative{
                width:70%;
                margin-left:10%;
                margin-top:23%;
            }
        }


        .conservative-leader-img{
            height:700px;           
        }


        .conservative-desc{
            overflow:hidden;
            
            .conservative-desc-title{
                 width:100%;
                transition: all 1s ease;
                height:180px;

            }

            .conservative-desc-para{
                width:100%;
                height:760px;
                padding: 40px 40px;
                transition: all 1s ease;
            }
        }
        
        
        .parties-page-mp-responsive{
            height:300px;
            background-color:rgb(184,200,252);
            padding-top:20px;
            
            button{
                padding:10px;
                background:$blue;
                color:white;
                margin:10px;
            }
        }
        
        .parties-page-mp-list-responsive{
            background:$blue;
            padding: 10px 40px 40px 40px;
            display:none;
            transition: all 1s ease;
            border-top: solid 10px $light-blue;
            border-bottom: solid 10px $light-blue;
            
            h1{
                color:white;
            }
            
            #party-page-mp-close{
                float:right;
                cursor:pointer;
            }
            
        }

    }
    
    .bg-party-height{
        height:200px;
    }
    
    .party-topic{
        font-family:helvetica;
        color:white;
        font-size:2.8em;
        height:80px;
    }
    
    .party-topic1{
        font-family:helvetica;
        color:white;
        font-size:2.1em;
        height:80px;
        padding-top:10px;
    }
    
    .voting-party{
        height:350px;
    }
    
}















@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    /* styles for medium only */
    .conservative-party{
        overflow:hidden;

        .conservative-logo{
            background:white;
            height:300px;

            .logo-conservative{
                width:70%;
                margin-left:10%;
                margin-top:15%;
            }
        }


        .conservative-leader-img{
            height:700px;           
        }


        .conservative-desc{
            overflow:hidden;
            
            .conservative-desc-title{
                width:100%;
                transition: all 1s ease;
                height:170px;

            }

            .conservative-desc-para{
                width:100%;
                height:450px;
                padding: 10px 30px;
                transition: all 1s ease;
            }
        }
        
        .parties-page-mp-responsive{
            height:160px;
            background-color:rgb(184,200,252);
            padding-top:20px;
            
            button{
                padding:10px;
                background:$blue;
                color:white;
                margin:10px;
            }
        }
        
        .parties-page-mp-list-responsive{
            background:$blue;
            padding: 10px 40px 40px 40px;
            display:none;
            transition: all 1s ease;
            border-top: solid 10px $light-blue;
            border-bottom: solid 10px $light-blue;
            
            h1{
                color:white;
            }
            
            #party-page-mp-close{
                float:right;
                cursor:pointer;
            }
        }

    }
    
    .bg-party-height{
        height:300px;
    }
    
    .party-topic{
        font-family:helvetica;
        color:white;
        font-size:4em;
        height:120px;
    }
    
   
    
    .party-topic1{
        font-family:helvetica;
        color:white;
        font-size:3em;
        height:120px;
    }
    
    .voting-party{
        height:350px;
    }

}

















@media screen and (min-width: 64em) {
    /* styles for large and onward only */
    .conservative-party{
        overflow:hidden;
        padding-top:70px;

        .conservative-logo{
            background:white;
            height:50vh;

            .logo-conservative{
                width:70%;
                margin-left:10%;
                margin-top:11%;
            }
        }
        
        .conservative-logo-container{
            height:40vh;
        }
        
        .parties-page-mp{
            height:10vh;
            background-color:rgb(184,200,252);
            padding-top:20px;
            
            button{
                padding:10px;
                background:$blue;
                //border: solid 2px white;
                color:white;
                margin:5px;
                cursor:pointer;
            }
        }


        .conservative-leader-img,
        .green-leader-img,
        .liberal-leader-img,
        .democratic-leader-img{
            height:100vh;      
            
        }


        .conservative-desc{
            height:50vh;
            //display:none;

            .conservative-desc-title{
                height:100vh;
                width:100%;
                transition: all 1s ease;

                .arrow-conservative{
                    margin-top:70px;
                }

            }

            .conservative-desc-para{
                height:50vh;
//                padding: 60px 40px;
                margin-right:-1000px;
                width:50%;
                transition: all 1s ease;
            }
        }
        
        .parties-page-mp-list{
            height:50vh;
            background:$blue;
            display:none;
            transition: all 0.5s ease;
            
            
            h1{
                color:white;
            }
            
            #party-page-mp-close{
                float:right;
                cursor:pointer;
            }
        }

    }
   
    .bg-party-height{
        height:50vh;
    }
    
    .full-page{
        height:100vh; 
    }

    .half-page{
        height:50vh;
    }
    
    .party-topic{
        font-family:helvetica;
        margin-top:16%;
        margin-left:30px;
        color:white;
        font-size:6em;
        line-height: 30px;
    }
    
    .party-topic1{
        font-family:helvetica;
        margin-top:16%;
        margin-left:30px;
        color:white;
        font-size:5em;
        line-height: 30px;
    }
    
}




























/* =================================================
        CONSERVATIVE PARTY DESC - FRONT PAGE 
    =============================================== */

.conservative-party{
    
    overflow:hidden;
    background:$light-blue;
    
    .conservative-logo{
        background:white;

        .logo-conservative{
            width:70%;
            margin-left:8%;
        }
    }


    .conservative-leader-img{
        background: url(../img/conservative/Conservative.jpg);
        
    }
    .green-leader-img{
        background: url(../img/conservative/Green.jpg);

    }
    .liberal-leader-img{
        background: url(../img/conservative/Liberal.jpg);

    }
    .democratic-leader-img{
        background: url(../img/conservative/Democratic.jpg);

    }


    .conservative-desc{
        background:$light-blue;

        .conservative-desc-title{
            background:$blue;
            color:white;
            padding-top:6%;

            h2{
                letter-spacing:1px;
            }
        }

        .conservative-desc-para{
            background:$light-blue;
            
        }
    }
    
    .background{
        background-size:cover;
        background-repeat: no-repeat;
        background-position:center;
    }
}




/* =================================================
        CONSERVATIVE PARTY - TOPICS SECTIONS 
    =============================================== */


/*.topics-bg{
    background:url(../img/conservative/environment.jpg);

}*/

.conservative-leader-img{
    background: url(../img/conservative/Conservative.jpg);
}
.green-leader-img{
    background: url(../img/conservative/Green.jpg);

}
.liberal-leader-img{
    background: url(../img/conservative/Liberal.jpg);

}
.democratic-leader-img{
    background: url(../img/conservative/Democratic.jpg);

}




.blue{
    background:$blue;
}

.light-blue{
    background:$light-blue;
}

.overlay{
    background:rgba(0,0,0,0.8);
    overflow:auto;
    padding: 40px 50px;
   
    p{
        color:white;
    }
}

.background{
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
}

.voting-party{
    overflow:hidden;
    
    .voting-icons{
        width:100px;
        transition: all 0.8s ease;
        margin-bottom:20px;
    }
    
    
    .voting-icons-mediumsmall{
        width:80px;
        transition: all 0.8s ease;
        margin-bottom:20px;
    }
    
    .voted{
        margin-top:300px;
        transition: all 0.7s ease;
    }
    .voted-m{
        margin-top:300px;
        transition: all 0.7s ease;
    }
}

