    


@media screen and (max-width: 39.9375em) {
    /* styles for small only */
    .homepage-desc{
        background: rgba(0,0,0,0.9);
        height:100vh;
        padding-top: 140px;
        
        .logo{
            width:50%;
            margin-bottom:40px;
        }
        
        p{
            color:white;
            z-index:10;
            padding:0 40px 0 40px;
        }
      
    }
    
    .homepage1{
        width:100%;
        height:100vh;
        background-image: url(../img/homepage/video.jpg);
        background-size:cover;
        background-attachment:fixed;
    }
    
    .homepage-blue, .homepage-green,
    .homepage-red, .homepage-orange{
        height: 30%;
    }
    
    .symbol{
        width:200px;
        margin-top:11vh;
    }
    
}


@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    /* styles for medium only */
    .homepage-desc{
        background: rgba(0,0,0,0.9);
        height:100vh;
        
        
        .logo{
            width:60%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        
        p{
            color:white;
            z-index:10;
            padding: 50px 30px 0 30px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        
        .medium-top-style{
            position: relative;
            height: 100vh;
        }
    
    }
    
    .homepage1{
        width:100%;
        height:100vh;
        background-image: url(../img/homepage/video.jpg);
        background-size:cover;
        background-attachment:fixed;
    }
    
    .homepage-blue, .homepage-green,
    .homepage-red, .homepage-orange{
        height: 50%;
    }
    
    .symbol{
        width:200px;
        margin-top:18vh;
    }

}

@media screen and (min-width: 64em) {
    /* styles for large and onward only */
    
    
    .homepage-desc{
        background: rgba(0,0,0,0.9);
        height:100vh;
        padding-top: 140px;
        
        .logo{
            width:25%;
            margin:40px auto 80px auto;
        }
        
        p{
            color:white;
            z-index:10;
        }
        
        .arrow{
            margin-top:70px;
            margin-bottom:70px;
            width:80px;
        }
    }
    
    .homepage-blue, .homepage-green,
    .homepage-red, .homepage-orange{
        height: 50%;
    }
    
    .symbol{
        width:200px;
        margin-top:18vh;
    }
        
        
    .homepage-parties{
        padding-top:70px;
    }
    
    .subscription{
        li{
            display:inline;
            margin-right:50px;
        }
        
        input{
            width:200px;
        }
    }
    
}












    .homepage1{
        width:100%;
        height:100vh;
        
    }

    .homepage2{
        width:100%;
        height:100vh;
    }

    .video-container{
        width: 100%;
        height: 100%;
        min-width: 100vw;
        min-height:100vh;
        //overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -100;
    }

    .video-homepage{
        position: relative;
        width: 100%;
        //height: 120%;
        left:0;        
    }

    #subscribe-box{
        height:150px;
        position:fixed;
        background-color:$crimson;
        top:0;
        display:none;
        padding-top:70px;
        z-index:99;
    }

    
    
    /* =================================================
                    SECOND SECTION - 4 PARTIES 
        ===============================================*/
    
    
    
    .homepage-parties{
        //padding-top:70px;
        background: rgba(0,0,0,0.8);
        //overflow:hidden;
        position: relative;
        z-index: 1;
        
        .homepage-party{
            background: rgba(0,0,0,0.4);
            height:50%;
            position: relative;
            z-index: -1;
        } 
        
         
        
        
        
        .homepage-blue{
            background-color:$blue;
            position: relative;
            
            .arrow-conservative{
                background:$blue-op;
                display:none;
                transition: all 0.7s;
            }
            #logo-conservative{
               transition: all 0.7s;
            }
            
        }
        
        .homepage-blue-hover{
            overflow: hidden;
            background-color:$blue-op;
            //display:none;
            position:absolute;
            top: 0;
            padding-top:25%;
            z-index:-1;
            transition: all 0.7s ease;
            
            h1{
                color:$blue;
                font-size:1.7em;
            }
            
            h2{
                color:white;
                font-size:1.7em;
                letter-spacing: 1px;
            }
                   
            
        }
        
        
       
        
        
        .homepage-orange{
            background-color:$orange;
            position: relative;
            
            .arrow-democratic{
                background:$orange-op;
                display:none;
                transition: all 0.7s;
            }
            #logo-democratic{
               transition: all 0.7s;
            }
        }
        
        .homepage-orange-hover{
            overflow: hidden;
            background-color:$orange-op;
            position:absolute;
            top: 0;
            left: 0;
            padding-top:23%;
            z-index:-1;
            transition: all 0.7s ease;
            
            h1{
                color:$orange;
            }
            
            h2{
                color:white;
                font-size:1.7em;
                letter-spacing: 1px;
            }
        }
        
        
        
        
        
        
        .homepage-green{
            background-color:$green;
            position:relative;
            
            .arrow-green{
                background:$green-op;
                display:none;
                transition: all 0.7s;
            }
            
            #logo-green{
               transition: all 0.7s;
            }
        }
        
        .homepage-green-hover{
            overflow: hidden;
            background-color:$green-op;
            //display:none;
            position:absolute;
            left:0;
            padding-top:25%;
            z-index:-1;
            transition: all 0.7s ease;
            
            h1{
                color:$green;
                font-size:1.7em;
            }
            
            h2{
                color:white;
                font-size:1.9em;
                letter-spacing: 1px;
            }
        }
        
        
        
        
        
        .homepage-red{
            background-color:$red;
            position: relative;
            
            .arrow-liberal{
                background:$red-op;
                display:none;
                transition: all 0.7s;
            }
            
            #logo-liberal{
               transition: all 0.7s;
            }
        }
        
        .homepage-red-hover{
            overflow: hidden;
            background-color:$red-op;
            position:absolute;
            padding-top:25%;
            z-index:-1;
            transition: all 0.7s ease;
            
            h1{
                color:$red;
                font-size:1.7em;
            }
            
            h2{
                color:white;
                font-size:1.9em;
                letter-spacing: 1px;
            }
        }
   
      
        
        .arrow-parties{
            margin-top:20px;
            font-size:1.2em;
            background:#F5B987;
            padding:10px 20px;
            font-weight: bold;
            display:none;
            color:white;
            
        }
        
        
        
    
    }


















    


    .background{
        background-attachment:fixed;
        background-size:cover;
        background-repeat: no-repeat;
        background-position:center;
    }