



@media screen and (max-width: 39.9375em) {
    .side-topics-bar{
        display: none;
    }
        
    .comp-topbar-style{
        text-align: center;
        color:white;
        li{
            background-color: $mid-grey;
        }
    }
    .comp-topbar-style ul{
        margin: 0;
        padding: 0;
        width: 100%;
        margin: auto;
        list-style: none;
    }

    .comp-topbar-style li{
        cursor: pointer;
        text-align: center;
        float: left;
        width: 25%;
        display: inline-block;
        padding: 20px 0;
        
    }
    
    .comp-sidebar-topic{
        background-color: #464646;
    }

    .comp-topic-style{
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .comp-topic-style li{
        display: inline-block;
        cursor: pointer;
        padding: 20px;
    }
    
    .tip-topic-style{
        display: none;
    }
    
    
}



@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .side-topics-bar{
        display: none;
    }
    
    .comp-topbar-style{
        text-align: center;
        color:white;
        li{
            background-color: $mid-grey;
        }
    }
    .comp-topbar-style ul{
        margin: 0;
        padding: 0;
        width: 100%;
        margin: auto;
        list-style: none;
    }

    .comp-topbar-style li{
        cursor: pointer;
        text-align: center;
        float: left;
        width: 25%;
        display: inline-block;
        padding: 20px 0;
    }
      .comp-sidebar-topic{
        background-color: #464646;
    }

    .comp-topic-style{
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .comp-topic-style li{
        display: inline-block;
        cursor: pointer;
        padding: 20px;
    }
    
    .tip-topic-style{
        display: none;
    }
}



@media screen and (min-width: 64em) {

    .comparing-box{
        background-color: $dark-grey;
        width: 960px;
        height: 80vh;
        margin: auto;
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);

        
        
    }
    
    .side-topics-bar{
        position: fixed;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        z-index:100;
        cursor: pointer;
        display:none; 
    }

    #seeyourvote{
        background:$crimson;
    }
    
    #votingBtn{
        background:$mid-grey;
        
        i {
            color:$text-color;
            font-size:20px;
        }
    }

    .comp-topbar-style{
        position:fixed;
        top:-70px;
        text-align: center;
        color:white;
        li{
            background-color: $mid-grey;
        }
    }

    .comp-topbar-style ul{
        margin: 0;
        padding: 0;
        width: 960px;
        margin: auto;
        list-style: none;
    }

    .comp-topbar-style li{
        cursor: pointer;
        text-align: center;
        float: left;
        width: 25%;
        display: inline-block;
        padding: 20px 0;
    }
    
    .comp-sidebar-topic{
        position:fixed;
        top:0px;
        left:-60px;
        background-color: #464646;
        width: 60px;
    }

    .comp-topic-style{
        list-style: none;
        padding: 0;
        margin: 0;
        margin-left:-7px;
    }

    .comp-topic-style li{
        cursor: pointer;
        padding: 20px;
    }
}



    /* ----- Modal Box (Comparing Side) ------*/



    .sidebar-topic-style{
        padding: 20px 0;
        margin: 0;
        padding: 0;
        list-style: none;
        color: white;
        background-color: #272526;
    }

    .tip-topic-style{
        position: absolute;
        padding: 20px;
        margin: 0;
        padding: 0;
        top: 0;
        left: -130px;
        list-style: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        z-index: -20;
    }

    .side-topics-bar li{
        padding: 10px;
    }

    .side-topics-bar a{
        padding: 10px;
    }

    .tip-topic{
        width: 190px;
        transition: all 0.3s ease;
        padding: 10px;
        opacity: 1;
    }

    .tip-style{
        color: white;
        background-color: #272526;
        border-radius: 10px;
    }

    .modal-box-comparing{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(255,255,255,0.7);
        display: none;
        z-index: 300;
    }

    #closeComparingBox{
        position: absolute;
        top: 70px;
        right: 70px;
        cursor: pointer;
        color: black;
        i{
            color:black;
        }

    }

    .content-topic-default{
        padding: 20px 0;
        width: 100%;
        text-align: center;
        color:white;
        letter-spacing:1px;

        p{
            color:white; 
        }

    }

        
    .comp-content{
        background-color:#444444;
        overflow: auto;
        width: 100%;
        height:100%;
    }

    .contentTopic{
        overflow:auto;
    }


    // it should be id

   
    .modalbox-topic-text{
        position:fixed;
        top: 0;
        left: -240px;
        list-style: none;
        z-index:-10;

        .modalbox-topic{
            position:relative;
            background:$dark-grey;
            padding:5px;
            border-radius:10px;
            margin-bottom:30px;
            margin-left:200px;
            width:140px;
            transition: all 0.5s ease;

            a{
                color:white;
            }
        }
    }

    
    .voting-box{
        overflow: hidden;
        position: fixed;
        bottom: -10px;
        left: 0px;
        height:0;
        width: 100%;
        padding-top:10px;
        background-color: $dark-grey;


        p{
            color:white;
            padding: 0;
            margin: 0;
        }
    }
    
    .row-voting{
        width: 100%;
        height: 100px;
    }

    .centered{
        text-align: center;
    }
    
    
    .voting-col{
        width: 22%;
        float: left;
        color: white;

        #party1total{
            background:$blue;
            border: solid 2px white;
        }
        #party2total{
            background:$orange;
            border: solid 2px white;

        }
        #party3total{
            background:$green;
            border: solid 2px white;

        }
        #party4total{
            background:$red;
            border: solid 2px white;
        }

    }
    .voting-col-clear{
        position:absolute;
        height: 100px;
        right:50px;
        bottom:0;
        cursor: pointer;
        width: 10%;
        background-color: $crimson;
    }

    .voting-close{
        position:absolute;
        bottom:0;
        right:0;
        width:50px;
        height:100px;
        cursor: pointer;
    }
    


    #party1total,
    #party2total,
    #party3total,
    #party4total{
        background-color: white;
        border-radius: 50%;
        width: 50px;
        padding: 10px 5px;
        margin: auto;
        font-size: 20px;
        color:white;
    }

    
    
    
    