// -----------------------------------------------------------------------------
// This file contains styles that are specific to the Party page.
// -----------------------------------------------------------------------------

@media screen and (max-width: 39.9375em) {
    .side-topics-bar{
        display: none;
    }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .side-topics-bar{
        display: none;
    }
}

@media screen and (min-width: 64em) {
    .comparing-box{
        background-color: #464646;
        width: 960px;
        height: 80vh;
        margin: auto;
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        overflow: auto;
        overflow-x: hidden;
    }
    
    .side-topics-bar{
        position: fixed;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        z-index:100;
        cursor: pointer;
        display:none; 
    }
    
    .democratic-party,
    .green-party,
    .liberal-party,
    .conservative-party
    {
        padding-top:70px; 
    }

    
    #filterShow{
        background:$crimson;
    }
    
    #votingBtn{
        background:$mid-grey;
        
        i {
            color:$text-color;
            font-size:20px;
        }
    }
    
    .conservative-desc-para,
    .green-desc-para,
    .liberal-desc-para,
    .democratic-desc-para{
        padding: 60px 40px;
        width: 50%;
        transition: all 1s ease;
    }
}

/* ----- Modal Box (Comparing Side) ------*/

.comp-topbar-style{
    text-align: center;
    color:white;
    li{
        background-color: #272526;
    }
}

.comp-topbar-style ul{
    margin: 0;
    padding: 0;
    width: 960px;
    margin: auto;
    list-style: none;
}

.comp-topbar-style li{
    cursor: pointer;
    text-align: center;
    float: left;
    width: 25%;
    display: inline-block;
    padding: 20px 0;
}

.top-parties-bar ul{
    margin: 0;
    padding: 0;
    width: 960px;
    list-style: none;
}

.top-parties-bar li{
    text-align: center;
    float: left;
    width: 25%;
    display: inline-block;
    padding: 20px 0;
}



.sidebar-topic-style{
    padding: 20px 0;
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
    background-color: #272526;
}

.tip-topic-style{
    position: absolute;
    padding: 20px;
    margin: 0;
    padding: 0;
    top: 0;
    left: -130px;
    list-style: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: -20;
}

.side-topics-bar li{
    padding: 10px;
}

.side-topics-bar a{
    padding: 10px;
}

.tip-topic{
    width: 190px;
    transition: all 0.3s ease;
    padding: 10px;
    opacity: 1;
}

.tip-style{
    color: white;
    background-color: #272526;
    border-radius: 10px;
}

.modal-box-comparing{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255,255,255,0.7);
    display: none;
    z-index: 300;
}

#closeComparingBox{
    position: absolute;
    top: 70px;
    right: 70px;
    cursor: pointer;
    color: black;
    i{
        color:black;
    }
//    padding: 20px 25px;
//    border-radius: 50%;
}

.comp-sidebar-topic{
    float: left;
    background-color: #464646;
    width: 5%;
}

.comp-topic-style{
    list-style: none;
    padding: 0;
    margin: 0;
}

.comp-topic-style li{
    cursor: pointer;
    padding: 20px;
}

.content-topic-default{
    padding: 20px 0;
    width: 100%;
    text-align: center;
    p{
        color:white;
    }
}

.content-topic-party1{
    padding: 10px;
    width: 100%;
}

.content-topic-party2{
    padding: 10px;
    width: 50%;
}

.content-topic-party3{
    padding: 10px;
    width: 33.33%;
}

.content-topic-party4{
    padding: 10px;
    width: 50%;
}

.content-showing-style{
    background-color: white;
}

.comparison-content{
    padding: 60px 0;
}

.topic-title-conservative{
    padding: 10px 0;
    background-color: #0331cf;
    width: 100%;
    color: white;
}

.party-top-comp{
    border-bottom: solid 2px transparent;
}

.topic-title-green{
    padding: 10px 0;
    background-color: #3c9b35;
    width: 100%;
    color: white;
}

.topic-title-democratic{
    padding: 10px 0;
    background-color: #f6821f;
    width: 100%;
    color: white;
}

.topic-title-liberal{
    padding: 10px 0;
    background-color: #ff1a24;
    width: 100%;
    color: white;
}

.comp-content{
    float: left;
    overflow: auto;
    width: 95%;
}

.col{
    display: block;
    text-align: center;
    float: left;
}

.clear-fix:after {
  content: "";
  display: table;
  clear: both;
}


/////////////////////
// Parties Style  ///
/////////////////////

.democratic-party{
    overflow: hidden;
    background: #f3b27a;
}

.conservative-party{
    overflow: hidden;
    background: #6588fb;
}

.green-party{
    overflow: hidden;
    background: #4a834a;
}

.liberal-party{
    overflow: hidden;
    background: #e96a6f;
}

.democratic-desc-title{
    background:#f6821f;
    height:50vh;
    width:100%;
    transition: all 1s ease;
}

.conservative-desc-title{
    background:#0232cf;
    height:50vh;
    width:100%;
    transition: all 1s ease;
}

.liberal-desc-title{
    background:#ff1a24;
    height:50vh;
    width:100%;
    transition: all 1s ease;
}

.green-desc-title{
    background:green;
    height:50vh;
    width:100%;
    transition: all 1s ease;
}

.party-democratic-bground{
    background:#f6821f;
}

.party-green-bground{
    background:green;
}

.party-liberal-bground{
    background:#ff1a24;
}

.party-conservative-bground{
    background:#0232cf;
}

.party-democratic-lightbground{
    background:#f3b27a;
}

.party-green-lightbground{
    background:#4a834a;
}

.party-liberal-lightbground{
    background:#e96a6f;
}

.party-conservative-lightbground{
    background:#6588fb;
}


conservative-desc{
    background:#6588fb;
}
.green-desc{
    background:#4a834a;
}
.liberal-desc{
    background:#e96a6f;
}
.democratic-desc{
    background:#f3b27a;
}





//a{
//    text-decoration: none;
//}


.voting-box{
    overflow: hidden;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: #272526;
    height: 0px;
    p{
        color:white;
        padding: 0;
        margin: 0;
    }
}
.row-voting{
    width: 100%;
    height: 100px;
}

.centered{
    text-align: center;
}
.voting-col{
    width: 24%;
    float: left;
    color: white;
}
.voting-col-clear{
    height: 100%;
    cursor: pointer;
    width: 4%;
    float: left;
    background-color: white;
}

#party1total,
#party2total,
#party3total,
#party4total{
    background-color: white;
    border-radius: 50%;
    width: 50px;
    padding: 10px 5px;
    margin: auto;
    font-size: 20px;
    color:black;
}




/* ----- END  Parties Page ------*/