// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------



 

/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;





/// Copy text color
/// @type Color
$text-color: rgb(27, 27, 27);

/// Main brand color
/// @type Color
$brand-color: black;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237);

/// Medium grey
/// @type Color
$mid-grey: rgb(112, 112, 112);

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;
$super-dark-grey: rgb(40, 40, 40) !default;

$blue:rgb(2,50,207) !default;
$green:rgb(61,155,53) !default;
$red:rgb(255,26,36) !default;
$orange: rgb(245,130,32) !default;
$crimson: rgb(127,20,43);


$blue-op:rgba(1,9,36,0.8) !default;
$green-op:rgba(9,44,6,0.8) !default;
$red-op:rgba(40,1,3,0.8) !default;
$orange-op: rgba(48,22,2,0.8) !default;


$light-blue: rgb(101,136,251) !default;
$light-green: rgb(162,238,155) !default;
$light-red: rgb(252,104,102) !default;
$light-orange: rgb(255,182,123) !default;



/// Container's maximum width 
/// @type Length
$max-width: 1180px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
